{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Kittitoday</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="navbar-fixed">
  <nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">Kittitoday</a>
      <ul class="right hide-on-med-and-down">
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% if user.is_superuser == 1 %}
        <li><a class='dropdown-trigger' href='#' data-target='dropdown1'>{{ request.user}}</a></li>
        <li><a href="{% url 'addpage' %}">Add Post</a></li>
        <li><a href="{% url 'main_manage' %}">Manage Post</a></li>
      {% endif %}
    {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}
      </ul>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>


  <!--  Scripts-->
  {% comment %} <script src="{% static 'js/materialize.js'%}"></script>
  <script src="{% static 'js/materialize.min.js'%}"></script>
  <script src="{% static 'js/init.js'%}"></script>
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/datatables.min.js'%}"></script>
  <script src="{% static 'js/datatables.css'%}"></script> {% endcomment %}
  <script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });
  </script>
  </body>
</html>
