{% extends 'base.html' %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
<br>
    <h2>New Post</h2>
    <div class="row">
    <form class="col s12" method="POST" action="{% url 'addpage' %}">
    {% csrf_token %}
      {{form}}
    <div class='input-field col s1'>
        <input type='submit' class="waves-light blue btn" value='Post'>
    </div>
    </form>
  </div>
{% endblock %}