{% extends 'base.html' %}
{% block content %}
    {% for o in db %}
        <h1>{{o.title}}</h1>
        <p><i class="material-icons text-size">person</i> {{o.user}} | <i class="material-icons text-size">access_time</i> {{o.create_date|date:"d b Y H:i"}}</p>
        <hr>
        <p>{{o.content|safe}}</p>
    {% endfor %}
    <p class="center-align">
        <a class="waves-effect waves-light light btn" href="{% url 'index' %}">Go to Home</a>
    </p>
    <h4>Comment</h4>
    {% if user.is_authenticated %}
    <form method="POST">
    {% csrf_token %}
    <div class='row'>
        <div class='col l10'>
            {{form}}
        </div>
        <div class='col l2'>
        <br>
        <button class="btn waves-effect waves-light green" type="submit" name="action">Send
            <i class="material-icons right">send</i>
        </button>
        </div>
    </div>
    </form>
    {% else %}
    <p>Please Log in or Register!</p>
    {% endif %}
    {% for c in comment %}
    <div class="card light-blue darken-1">
        <div class="card-content white-text">
          <p>{{c.user.username}} | {{c.create_time| timesince}} ago</p>
          <h5>{{c.content}}</h5>
        </div>
        {% if c.user.id == request.user.id or request.user.is_superuser %}
        <div class="card-action">
            <a href="{% url 'delete_cm' comment_id=c.id %}" class="white-text"><i class="material-icons">delete</i></a>
        </div>
        {% else %}
        {% endif %}
      </div>
    {% endfor %}
<style>
.text-size{
  font-size: 16px;
}
</style>
{% endblock %}