{% extends 'base.html' %}
{% block content %}
    <h2>Edit Post</h2>
    <div class="row">
      Last Update : {{last_update|date:"d b Y H:i"}}
      <form class="col s12" method="POST" action="{% url 'edit' tweet_id=edit_id %}">
        {% csrf_token %}
          {{form.media}}
          {{form.as_p}}
        <div class='input-field col s1'>
          <input type='submit' class="waves-light green btn" value='Save'>
        </div>
        <div class='input-field col s1'>
          <a href="{% url 'main_manage' %}" class="waves-light gray btn">Cancel</a>
        </div>
      </form>
    </div>
{% endblock %}