{% extends 'base.html' %}
{% block content %}
    <div class='row s12'>
      <form method="GET" action="{% url 'index' %}">
        <div class="input-field col s10">
          <input id="search" name='search' type="text">
          <label for="search">Search</label>
        </div>
        <div class='input-field col s2'>
          <button class="waves-light blue btn" type="submit"><i class="material-icons">search</i></button>
        </div>
      </form>
    </div>
  <div class="row">
    <div class="col l8">
      {% for o in db %}
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">{{o.title}}</span>
            <p><i class="material-icons text-size">person</i> {{o.user}} | <i class="material-icons text-size">access_time</i> {{o.create_date|date:"d b Y H:i"}}</p>
          </div>
          <div class="card-action">
            <a class="blue-text" href="{% url 'each_a_page' news_id=o.id %}">Read More</a>
          </div>
        </div>
        {% empty %}
        <p class='center'>Not Found!</p>
      {% endfor %}
    </div>
    <div class="col l4">
      <div class="card">
        <div class="card-image">
          <img src="static/greenblog.jpg">
          <span class="card-title black-text">About Us</span>
        </div>
        <div class="card-content">
          <p>ยินดีต้อนรับสู่เว็บบล็อกของเรา ซึ่งเกี่ยวกับข่าวสารและความรู้ในเรื่องของธรรมชาติและพลังงานสีเขียวสำหรับบุคคลทั่วไปที่สนใจเรื่องเกี่ยวกับการอนุรักษ์ทรัพยากรธรรมชาติ</p>
        </div>
      </div>
    </div>
  </div>
  {% if db.has_other_pages %}
    <ul class="pagination center">
      {% if db.has_previous %}
      <li><a href="?page={{ db.previous_page_number }}" class="waves-effect"><i class="material-icons left">chevron_left</i>PREV</a></li>
      {% endif %}
      {% if db.has_next %}
      <li><a href="?page={{ db.next_page_number }}" class="waves-effect"><i class="material-icons right">chevron_right</i>NEXT</a></li>
    {% endif %}
    </ul>
  {% endif %}
<style>
.text-size{
  font-size: 16px;
}
</style>
{% endblock %}